img {
  width: 80%
}

.nav-list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "home nav user";
  list-style-type: none;
  -webkit-padding-start: 0px;
}

.nav-list div li {
  padding: 10px 25px 10px 25px;
}

#home-link {
  grid-area: home;
}

#nav-links {
  grid-area: nav;
}

#user-link {
  grid-area: user;
  justify-self: end;
}

.resume-div {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.resume-div img {
  width: 100%;
  height: auto;
}

.resume-show-div {
  width: 60%
}

/* #resume-container {

} */
