
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  margin-top: 90px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

ul {
  list-style-type: none;
}

ul.nav-list {
  margin: 0;
}

nav ul div {
  background-color: #333;
}

nav ul div li {
  background-color: #333;
  border-color: #333;
  float: left;
}

/* ul.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #333;
} */

/* li.navbar {
  background-color: #333;
  border-color: #333;
  float: left;
} */

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 16px "Open Sans", sans-serif
}

li a:hover {
  background-color: #111;
}

li {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1px 85px 1px 65px;
  background-color: white;
}

#home-link li a {
  font-size: 20px;
}

img {
  width: 80%
}

.nav-list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "home nav user";
  list-style-type: none;
  -webkit-padding-start: 0px;
}

.nav-list div li {
  padding: 10px 25px 10px 25px;
}

#home-link {
  grid-area: home;
}

#nav-links {
  grid-area: nav;
}

#user-link {
  grid-area: user;
  justify-self: end;
}

#main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* .resume-container {
  display: flex;
  flex-wrap: wrap;
} */

.resume-div {
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.resume-div img {
  width: 100%;
  height: auto;
}

.resume-show-div {
  align-self: center;
  width: 60%
}

.resume-show-div img {
  align-self: center;
}

.star-container {
  padding: 30px 20px;
  border: 2px solid #0099CC;
}

.checked {
    color: gold;
}

.button {
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  padding:0;
  margin:0;
  left: 0px;
  top: 0px;
  z-index: -1000;
  overflow:hidden;
}


#myVideo {
    min-height: 100%;
    min-width:100%; - if fit to width
    position:absolute;
    bottom:0;
    left:0;
  }

.comment-title {
  color: white;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font: 14px "Open Sans", sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: 14px "Open Sans", sans-serif;
}

/* #resume-container {

} */
