img {
  width: 80%
}

.resume-div {
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.resume-div img {
  width: 100%;
  height: auto;
}

.resume-show-div {
  width: 60%
}

/* #resume-container {

} */
