img {
  width: 80%
}

.nav-list {
  display: grid;
  grid-auto-columns: 5%;
  list-style-type: none;
  -webkit-padding-start: 0px;
}

#home-link {
  grid-column: 1 / 4;
}

#nav-links {
  grid-column: 4 / 19;
}

#user-link {
  grid-column: 19 / 21;
}
.resume-div {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.resume-div img {
  width: 100%;
  height: auto;
}

.resume-show-div {
  width: 60%
}

/* #resume-container {

} */
