img {
  width: 80%
}

.resume-div {
  text-align: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.resume-div img {
  width: 100%;
  height: auto;
}

.resume-show-div {
  justify-content: center;
  width: 60%
}

.star-container {
}

.checked {
    color: gold;
}

/* #resume-container {

} */
